$color: #fff;
$alfha: 0.75;

// Preloader in add table
.preload {
    position: absolute;
    background: rgba( $color, $alfha );
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    display: none;
}

// User img (when create user).
.marcoImagen {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;

    img {
        width: 90px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// User img (in edit page).

.new_media_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

// Animation when update user



.bg-animado{
    animation: bganimado 3s;
    -webkit-animation: bganimado 3s;
}
@keyframes bganimado{
    0%{ background: rgb(255, 172, 237); }
    100%{ background: transparent; }
}
@-webkit-keyframes bganimado{
    0%{ background: rgb(255, 172, 237); }
    100%{ background: transparent; }
}